[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pytest = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
tox = "*"
tox-pyenv = "*"
"flake8" = "*"
pyyaml = "*"
cryptography = "*"
